<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title layout:fragment="title">Page Title</title>
    <link rel="stylesheet" href="/public/bower/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/bower/angular-toastr/dist/angular-toastr.min.css"/>
    <link rel="stylesheet" href="/public/bower/ng-tags-input/ng-tags-input.min.css"/>
    <link rel="stylesheet" href="/public/css/app.css"/>
    <link rel="shortcut icon" href="/public/favicon.ico" />
</head>

<body ng-app="MarkLogicSampleApp">

    <div class="container">
        <nav layout:fragment="navigation" class="navbar navbar-default" role="navigation">
            Navigation Bar
        </nav>
        <div layout:fragment="content" class="container">
            Page Content
        </div>
    </div>

    <!-- Le JavaScript -->
    <script src="/public/bower/angular/angular.min.js"></script>
    <script src="/public/bower/angular-route/angular-route.min.js"></script>
    <script src="/public/bower/angular-resource/angular-resource.min.js"></script>
    <script src="/public/bower/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/public/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/public/bower/angular-toastr/dist/angular-toastr.min.js"></script>
    <script src="/public/bower/ng-tags-input/ng-tags-input.min.js"></script>
    <!-- Sample app -->
    <script src="/public/js/app.js"></script>
    <script src="/public/js/controllers.js"></script>
    <script src="/public/js/services.js"></script>
    <script>
        angular.module("MarkLogicSampleApp").constant("CSRF_TOKEN", 'TODO');
    </script>
</body>
</html>